force-app/main/default/flows/Account_Record_Triggered_Flow_Copy_Address_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Shipping_or_Billing_Address_Update</name>
        <label>Shipping or Billing Address Update</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No Change to Address</defaultConnectorLabel>
        <rules>
            <name>Shipping_Address_Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ShippingCountryCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingStreet</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingCity</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingStateCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingPostalCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billing_Address_from_Shipping_Address</targetReference>
            </connector>
            <label>Shipping Address Update</label>
        </rules>
        <rules>
            <name>Billing_Address_Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountryCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingStreet</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCity</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingStateCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingPostalCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shipping_Address_from_Billing_Address</targetReference>
            </connector>
            <label>Billing Address Update</label>
        </rules>
    </decisions>
    <description>On Account update, checks if a address field is filled and copies that address to all other address fields.</description>
    <environments>Default</environments>
    <interviewLabel>A {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Record Triggered Flow - Copy Address Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Billing_Address_from_Shipping_Address</name>
        <label>Update Billing Address from Shipping Address</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountryCode</field>
            <value>
                <elementReference>$Record.ShippingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStateCode</field>
            <value>
                <elementReference>$Record.ShippingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shipping_Address_from_Billing_Address</name>
        <label>Update Shipping Address from Billing Address</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountryCode</field>
            <value>
                <elementReference>$Record.BillingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStateCode</field>
            <value>
                <elementReference>$Record.BillingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Shipping_or_Billing_Address_Update</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>BillingCountryCode</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingCity</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingStreet</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingCity</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingStateCode</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingPostalCode</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingCountryCode</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingCity</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingStreet</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingCity</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingStateCode</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingCountryCode</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
