force-app/main/default/flows/Lead_Screen_Flow_Inbound_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone_Call</name>
        <choiceText>Phone Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>test</name>
        <choiceText>test</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>test</stringValue>
        </value>
    </choices>
    <choices>
        <name>Text_Message</name>
        <choiceText>Text Message</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Text Message</stringValue>
        </value>
    </choices>
    <description>Call Script for capturing correct information on inbound leads.</description>
    <environments>Default</environments>
    <interviewLabel>Lead - Screen Flow - Inbound Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Screen Flow - Inbound Call Script</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates a Lead from the input captured in the screen flow.</description>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>ScreenOne_CompanyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>ScreenOne_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>ScreenOne_Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up_Date__c</field>
            <value>
                <elementReference>ScreenTwo_Follow_Up_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Customer_Questions__c</field>
            <value>
                <elementReference>ScreenTwo_Product_Questions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ScreenOne_Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Phone Inquiry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>ScreenOne_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Contact_Method__c</field>
            <value>
                <elementReference>ScreenTwo_Preferred_Contact_Method</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Screen_One</name>
        <label>Screen One</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_Two</targetReference>
        </connector>
        <fields>
            <name>ScreenOne_CallOne</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>ScreenOne_Call1_TT</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>264653</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ScreenOne_Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ScreenOne_CallTwo</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>ScreenOne_Call2_TT</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>264653</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ScreenOne_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>0400 123 123</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ScreenOne_CallThree</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>264653</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>ScreenOne_Call3_TT</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ScreenOne_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ScreenOne_CallFour</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>264653</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>ScreenOne_Call4_TT</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ScreenOne_CompanyName</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Two</name>
        <label>Screen Two</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
        <fields>
            <name>ScreenTwo_CallOne</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>264653</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>ScreenTwo_Call1_TT</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ScreenTwo_Preferred_Contact_Method</name>
            <choiceReferences>Text_Message</choiceReferences>
            <choiceReferences>Email</choiceReferences>
            <choiceReferences>Phone_Call</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred Contact Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ScreenTwo_CallTwo</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>ScreenTwo_Call2_TT</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>264653</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ScreenTwo_Product_Questions</name>
            <fieldText>Product Questions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ScreenTwo_CallThree</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>264653</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>ScreenTwo_Call3_TT</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ScreenTwo_Follow_Up_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Follow Up Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ScreenTwo_CallFour</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>ScreenTwo_Call4_TT</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>264653</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_One</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ScreenOne_Call1_TT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Thank you for calling Woolly Cloud Farms. My name is {!$User.FirstName}. May I start with your name?</text>
    </textTemplates>
    <textTemplates>
        <name>ScreenOne_Call2_TT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>And incase this call drops out may I also confirm your phone number?</text>
    </textTemplates>
    <textTemplates>
        <name>ScreenOne_Call3_TT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Great. Thanks for that. May I also ask for your email address?</text>
    </textTemplates>
    <textTemplates>
        <name>ScreenOne_Call4_TT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Thank you, and may I ask which company you are calling from?</text>
    </textTemplates>
    <textTemplates>
        <name>ScreenTwo_Call1_TT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>And what is your preferred method of contact?</text>
    </textTemplates>
    <textTemplates>
        <name>ScreenTwo_Call2_TT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Thank you so much {!ScreenOne_Name.firstName}. What information would you like our team to get back to you about?</text>
    </textTemplates>
    <textTemplates>
        <name>ScreenTwo_Call3_TT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>What time would best suit you for our team to get back in touch to discuss this further?</text>
    </textTemplates>
    <textTemplates>
        <name>ScreenTwo_Call4_TT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Thank you so much for your time today {!ScreenOne_Name.firstName}, I&apos;ll forward this information through to our team and get them to reach out to you shortly. Thank you for choosing Woolly Cloud Farms. Enjoy your day! 
**END CALL**</text>
    </textTemplates>
</Flow>
